body {
    overflow: hidden;
}

.notfound {
    padding-left: 1rem;
}

.PageNotFound {
    color: 'red';
    display: 'flex';
    align-items: "center";
    font-size: '2rem';
    justify-content: 'center';
    height: '100vh'
}